.navbar-brand{
    width: 20%;
    display: flex;
    justify-content: center;
}
.navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.nav-item{
    margin-right: 40px;
}
.logo_img{
    width: 17%;
    display: flex;
    justify-content: center;
}
.img{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#threeline{
    border: none;
    outline: none !important;
    box-shadow: none !important;
}